*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 50%;
    border: 1px solid red;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
}

.top{
    display: flex;
    justify-content: space-between;
}

.notification{
    display: flex;
    justify-content: space-between;
}